// ====================catalog=================
.catalog {
    margin-top: 66px;
}

.catalog_container {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: black;
    margin: 40px 40px 0px;

    @media(max-width: 900px) {
        margin: 40px 15px 0px;
    }
}

.page_navigation {
    margin-bottom: 50px;
}

.product_list {
    list-style-type: none;
    width: 60%;
    margin: 50px auto 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 50px;

    @media(max-width: 900px) {
        width: 80%;
    }

    @media(max-width: 500px) {
        width: 100%;
        grid-column-gap: 20px;
        grid-row-gap: 30px;
    }
}

.product_list.enlarge {
    list-style-type: none;
    width: 60%;
    margin: 50px auto 50px;
    display: block;

    @media(max-width: 900px) {
        width: 80%;
    }

    @media(max-width: 500px) {
        width: 100%;
    }
}

.product_item.enlarge {
    margin-bottom: 30px;
}

.product_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
}

.product_img {
    width: 100%;
}

.product_photo {
    width: 100%;
    height: auto;
}

.product_details {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @media(max-width: 500px) {
        margin-top: 10px;
        flex-direction: column;
    }
}

.product_details.enlarge {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @media(max-width: 500px) {
        margin-top: 10px;
    }
}

.product_name {
    font-weight: 600;

    @media(max-width: 500px) {
        margin-bottom: 5px;
    }
}

.change_size {
    display: none;

    @media(max-width: 500px) {
        display: block;
        position: absolute;
        right: 15px;
        top: 106px;
    }
}

// ---------------filter----------------

/* Змінені стилі для радіо кнопок */

input[type="radio"] {
    position: absolute;
    opacity: 0;
}


/* Стилізована рамка для радіо кнопки */

input[type="radio"]+span {
    position: relative;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #BFBCBA;
    border-radius: 2px;
    cursor: pointer;
    vertical-align: middle;
}


/* Стиль для галочки */

input[type="radio"]:checked+span::after {
    content: "\2714";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: #000000;
}

.filter_block {
    position: relative;
}

.filter_container {
    display: none;
    margin: 30px 0px 30px;
    height: 400px;
    overflow-y: auto;
    padding-bottom: 20px;

    @media(max-width: 700px) {
        flex-direction: column;
        margin: 30px 0px 20px;
    }
}

.filter_container.show {
    display: flex;
}

.filter_list {
    margin-right: 90px;

    @media(max-width: 700px) {
        margin-bottom: 40px;
    }
}

.filter_size {
    @media(max-width: 700px) {
        margin-bottom: 10px;
    }
}

.filter_heading {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 600;
}

.category_item {
    margin-bottom: 10px;
}

.metal_item {
    margin-bottom: 10px;
}

.size_item {
    margin-bottom: 10px;
}

.size_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    width: fit-content;
}

.sort-by_btn {
    position: absolute;
    right: 20px;

    @media(max-width: 900px) {
        right: 15px;
    }
}

.sort-by_item {
    margin-bottom: 10px;
}

.sort-by_container {
    position: absolute;
    right: 130px;
    top: 42px;

    @media(max-width: 900px) {
        right: 40px;
    }
}

.filter_btn-collection {
    position: absolute;
    // bottom: -20px;
    top: 190px;

    @media(max-width: 700px) {
        position: static;
    }
}

.clear_btn {
    margin-right: 10px;
}

.overlay {
    display: none;
    position: fixed;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 2;
}

.arrow_upside_down {
    transform: rotate(180deg);
}