section {
    margin-top: 66px;
}

.product_card_container {
    margin: 30px 40px 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: black;

    @media(max-width: 900px) {
        margin: 30px 15px 0px;
    }
}

.main_container {
    display: flex;

    @media(max-width: 600px) {
        flex-direction: column;
    }
}

.left_content {
    float: left;
    width: 316px;
    padding: 0 40px 40px 0;
    position: sticky;
    top: 96px;
    right: 0;
    height: calc(100vh - 80px);

    @media(max-width: 1024px) {
        display: none;
    }
}

.photo_block-mini {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 60px;
    height: auto;
    max-height: 316px;
    overflow: hidden;
}

.photo_block-mini li {
    margin: 0 0 10px;
    width: 60px;
}

.photo_mini {
    display: block;
    width: 100%;
    padding-bottom: 150%;
    position: relative;
}

.photo_mini img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.middle_content {
    width: calc(100% - 632px);
    float: left;
    text-align: center;
    margin-right: 40px;

    @media(max-width: 1024px) {
        width: calc(100% - 316px);
    }

    @media(max-width: 600px) {
        display: none;
    }
}

.anchor_photo {
    display: block;
    position: relative;
    top: -42px;
    visibility: hidden;
}

.middle_photo {
    display: block;
    width: 100%;
}

.product_galeri {
    list-style-type: none;
    padding: 0;
    display: block;
}

.product_galeri li {
    margin: 0 auto 30px;
    max-width: 800px;
    width: 100%;
    position: relative;
}

// -------------------
.swiper_block {
    width: 100%;
    display: none;

    @media(max-width: 600px) {
        display: block;
    }
}

.swiper-slide {
    width: 100%;
    overflow: hidden;
}

.swiper-slide img {
    width: 100%;
    height: auto;
}

.custom-pagination .swiper-pagination-bullet-active {
    width: 5px;
    height: 5px;
    margin: 0 3px;
    border: 1px solid #222;
    background: transparent;
    background: #eee;
    opacity: 1;
}

// ---------------------
.product_information-block {
    @media(max-width: 600px) {
        position: relative;
    }
}

.right_content {
    float: right;
    position: sticky;
    top: 96px;
    right: 0;
    height: calc(100vh - 80px);
    width: 276px;

    @media(max-width: 600px) {
        position: relative;
        top: auto;
        right: auto;
        height: auto;
        padding: 10px 0 0;
        width: 100%;
    }
}

.product_title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}

.product_text {
    margin: 30px 0px;
    line-height: 18px;
}

.materials_title,
.info_btn {
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
}

.materials_inform {
    margin-bottom: 20px;

    @media(max-width: 600px) {
        margin-bottom: 30px;
    }
}

.materials_text {
    font-size: 12px;
}

.info_row {
    margin-bottom: 20px;

    @media(max-width: 600px) {
        margin-bottom: 0px;
    }
}

.info_btn.one {
    @media(max-width: 600px) {
        position: absolute;
        top: 0px;
        left: 0px;
        color: #BFBCBA;
    }
}

.info_btn.two {
    @media(max-width: 600px) {
        position: absolute;
        top: 0px;
        left: 114px;
        color: #BFBCBA;
    }
}

.info_btn.three {
    @media(max-width: 600px) {
        position: absolute;
        top: 0px;
        left: 248px;
        color: #BFBCBA;
    }
}

.info_btn:hover,
.info_btn.active {
    color: #000;
}

.arrow_info {
    position: absolute;
    margin-left: 5px;

    @media(max-width: 600px) {
        display: none;
    }
}

.info_text.details {
    list-style-type: disc;
}

.info_text.details li {
    margin-top: 3px;
    margin-left: 14px;
}

.info_text.size {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.info_text.size li {
    margin-right: 10px;
}

.info_details {
    line-height: 18px;
}

.info_text {
    line-height: 18px;
}

.arrow_info.show {
    transform: rotate(180deg);
    right: -18px;
}

.info_wrap {
    margin-top: 5px;
    font-size: 12px;
    display: none;

    @media(max-width: 600px) {
        padding-top: 30px;
    }
}

.info_wrap.show {
    display: block;
}

.addToCart {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    color: #EBEBEB;
    background-color: #000000;
    font-size: 14px;
    border: none;
    height: 40px;

    @media(max-width: 600px) {
        position: static;
        margin-bottom: 30px;
    }
}

// ------------------
.related_bottom-block {
    margin: 60px 0px;
}

.related_item-block {
    display: block;

    @media(max-width: 600px) {
        display: none;
    }
}

.related_tittle {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;

    @media(max-width: 600px) {
        font-size: 16px;
    }
}

.related_list {
    display: flex;
}

.related_list li {
    margin-right: 30px;
    width: 33.333%;
}

.related_list li:last-child {
    margin-right: 0px;
}

.swiper-container {
    display: none;
    overflow: hidden;

    @media(max-width: 600px) {
        display: block;
    }
}