@charset "UTF-8";
header {
  height: 66px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
}
@media (max-width: 900px) {
  nav {
    display: none;
  }
}

.main_logo {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.menu_left {
  display: flex;
}

.menu_right {
  position: absolute;
  display: flex;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
}
@media (max-width: 900px) {
  .menu_right {
    right: 0px;
  }
}

a {
  text-decoration: none;
  color: black;
}

.menu_item {
  margin: 0px 25px 0px 0px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  position: relative;
  cursor: pointer;
}
@media (max-width: 900px) {
  .menu_item {
    margin: 0px 10px 0px 0px;
  }
}

.cart_img {
  margin-top: -10px;
  height: 28px;
}

.menu_item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 0;
}

.menu_item:hover::before,
.menu_item.active::before {
  opacity: 1;
  width: 100%;
}

.hamburger {
  display: none;
  cursor: pointer;
  margin-left: 15px;
}

.bar {
  display: block;
  width: 24px;
  height: 1px;
  margin: 6px auto;
  transition: all 0.3s ease;
  background-color: #000000;
}

@media (max-width: 900px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
  }
}
.category_menu {
  margin-top: 66px;
  display: none;
}

.category_menu.show {
  display: block;
  position: absolute;
  background: white;
  top: 0px;
  /* opacity: 0.9; */
  z-index: 10;
  width: 100%;
  height: 400px;
}

.category_menu-block {
  display: flex;
  width: 100%;
  height: 100vh;
  opacity: 0.9;
  background: white;
}

.col_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.col_list {
  margin-top: 12px;
}

.col_list li {
  margin-bottom: 6px;
}
@media (max-width: 900px) {
  .col_list li {
    margin-bottom: 16px;
  }
}

.col_list-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 12px;
  position: relative;
}

.col-1 {
  position: absolute;
  left: 40px;
}

.col-2 {
  position: absolute;
  left: 300px;
}

.col-3 {
  position: absolute;
  right: 40px;
}

.necklages_item,
.earrings_item {
  position: relative;
}

.earrings_list,
.necklages_list {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  display: none;
  position: relative;
}

.earrings_list.show,
.necklages_list.show {
  display: block;
  margin-left: 14px;
}

.col_list-item.active .list_category {
  display: block;
}

.list_category li {
  margin-top: 6px;
}
@media (max-width: 900px) {
  .list_category li {
    margin-top: 12px;
  }
}

.list_category-item {
  position: relative;
}

.menu_item-mob::before,
.col_list li a::before,
.necklages_item::before,
.earrings_item::before,
.list_category-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.menu_item-mob:hover::before,
.menu_item-mob.active::before,
.col_list li a:hover::before,
.list_category-item:hover::before,
.necklages_item.active::before,
.earrings_item.active::before {
  opacity: 1;
  width: 100%;
}

.mobile_menu_wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: white;
  overflow-y: auto;
}

.mobile_menu_wrapper.active {
  display: flex;
}

.mobile_menu {
  margin-top: 66px;
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  flex-grow: 1;
  overflow-y: auto;
  background-color: white;
}

.menu_left-mob li {
  margin-bottom: 16px;
}

.menu_item-mob {
  position: relative;
}

.mobile_menu-left {
  margin-right: 50px;
  margin-left: 15px;
}

.mobile_menu-right {
  display: none;
}

.mobile_menu-right.show {
  display: block;
}

.mobile_menu-two {
  margin-top: 50px;
  padding-bottom: 160px;
}

.image_container {
  width: 320px;
  height: 330px;
  overflow: hidden;
}

.image_container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.language_button {
  border: none;
  background: transparent;
  width: 26px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: black;
  cursor: pointer;
}

.main {
  margin-top: 66px;
  flex-grow: 1;
}

.main_block-centr {
  width: 100%;
  position: relative;
}

.main_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main_title {
  display: block;
  height: 51px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.main_block-img {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.main_block-img_item {
  width: 100%;
}

.catalog {
  margin-top: 66px;
}

.catalog_container {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: black;
  margin: 40px 40px 0px;
}
@media (max-width: 900px) {
  .catalog_container {
    margin: 40px 15px 0px;
  }
}

.page_navigation {
  margin-bottom: 50px;
}

.product_list {
  list-style-type: none;
  width: 60%;
  margin: 50px auto 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 50px;
}
@media (max-width: 900px) {
  .product_list {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .product_list {
    width: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
  }
}

.product_list.enlarge {
  list-style-type: none;
  width: 60%;
  margin: 50px auto 50px;
  display: block;
}
@media (max-width: 900px) {
  .product_list.enlarge {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .product_list.enlarge {
    width: 100%;
  }
}

.product_item.enlarge {
  margin-bottom: 30px;
}

.product_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
}

.product_img {
  width: 100%;
}

.product_photo {
  width: 100%;
  height: auto;
}

.product_details {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 500px) {
  .product_details {
    margin-top: 10px;
    flex-direction: column;
  }
}

.product_details.enlarge {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 500px) {
  .product_details.enlarge {
    margin-top: 10px;
  }
}

.product_name {
  font-weight: 600;
}
@media (max-width: 500px) {
  .product_name {
    margin-bottom: 5px;
  }
}

.change_size {
  display: none;
}
@media (max-width: 500px) {
  .change_size {
    display: block;
    position: absolute;
    right: 15px;
    top: 106px;
  }
}

input[type=radio] {
  position: absolute;
  opacity: 0;
}

/* Створюємо стилізовану заміну для радіо кнопки */
input[type=radio] + span {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #BFBCBA;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 6px;
}

input[type=radio]:checked + span::before {
  content: "✔";
  position: absolute;
  top: -2px;
  left: 0px;
  font-size: 12px;
  color: #000000;
}

input[type=radio] + span::after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 2px;
}

input[type=radio]:checked + span::after {
  border: 1px solid #000;
}

.filter_block {
  position: relative;
}

.filter_container {
  display: none;
  margin: 30px 0px 30px;
  height: 400px;
  overflow-y: auto;
  padding-bottom: 20px;
}
@media (max-width: 700px) {
  .filter_container {
    flex-direction: column;
    margin: 30px 0px 20px;
  }
}

.filter_container.show {
  display: flex;
}

.filter_list {
  margin-right: 90px;
}
@media (max-width: 700px) {
  .filter_list {
    margin-bottom: 40px;
  }
}

@media (max-width: 700px) {
  .filter_size {
    margin-bottom: 10px;
  }
}

.filter_heading {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
}

.category_item {
  margin-bottom: 10px;
}

.metal_item {
  margin-bottom: 10px;
}

.size_item {
  margin-bottom: 10px;
}

.size_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  width: -moz-fit-content;
  width: fit-content;
}

.sort-by_btn {
  position: absolute;
  right: 20px;
}
@media (max-width: 900px) {
  .sort-by_btn {
    right: 15px;
  }
}

.sort-by_item {
  margin-bottom: 10px;
}

.sort-by_container {
  position: absolute;
  right: 130px;
  top: 42px;
}
@media (max-width: 900px) {
  .sort-by_container {
    right: 40px;
  }
}

.filter_btn-collection {
  position: absolute;
  top: 190px;
}
@media (max-width: 700px) {
  .filter_btn-collection {
    position: static;
  }
}

.clear_btn {
  margin-right: 10px;
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 2;
}

.arrow_upside_down {
  transform: rotate(180deg);
}

section {
  margin-top: 66px;
}

.product_card_container {
  margin: 30px 40px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: black;
}
@media (max-width: 900px) {
  .product_card_container {
    margin: 30px 15px 0px;
  }
}

.main_container {
  display: flex;
}
@media (max-width: 600px) {
  .main_container {
    flex-direction: column;
  }
}

.left_content {
  float: left;
  width: 316px;
  padding: 0 40px 40px 0;
  position: sticky;
  top: 96px;
  right: 0;
  height: calc(100vh - 80px);
}
@media (max-width: 1024px) {
  .left_content {
    display: none;
  }
}

.photo_block-mini {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 60px;
  height: auto;
  max-height: 316px;
  overflow: hidden;
}

.photo_block-mini li {
  margin: 0 0 10px;
  width: 60px;
}

.photo_mini {
  display: block;
  width: 100%;
  padding-bottom: 150%;
  position: relative;
}

.photo_mini img {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle_content {
  width: calc(100% - 632px);
  float: left;
  text-align: center;
  margin-right: 40px;
}
@media (max-width: 1024px) {
  .middle_content {
    width: calc(100% - 316px);
  }
}
@media (max-width: 600px) {
  .middle_content {
    display: none;
  }
}

.anchor_photo {
  display: block;
  position: relative;
  top: -42px;
  visibility: hidden;
}

.middle_photo {
  display: block;
  width: 100%;
}

.product_galeri {
  list-style-type: none;
  padding: 0;
  display: block;
}

.product_galeri li {
  margin: 0 auto 30px;
  max-width: 800px;
  width: 100%;
  position: relative;
}

.swiper_block {
  width: 100%;
  display: none;
}
@media (max-width: 600px) {
  .swiper_block {
    display: block;
  }
}

.swiper-slide {
  width: 100%;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}

.custom-pagination .swiper-pagination-bullet-active {
  width: 5px;
  height: 5px;
  margin: 0 3px;
  border: 1px solid #222;
  background: transparent;
  background: #eee;
  opacity: 1;
}

@media (max-width: 600px) {
  .product_information-block {
    position: relative;
  }
}

.right_content {
  float: right;
  position: sticky;
  top: 96px;
  right: 0;
  height: calc(100vh - 80px);
  width: 276px;
}
@media (max-width: 600px) {
  .right_content {
    position: relative;
    top: auto;
    right: auto;
    height: auto;
    padding: 10px 0 0;
    width: 100%;
  }
}

.product_title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.product_text {
  margin: 30px 0px;
  line-height: 18px;
}

.materials_title,
.info_btn {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 5px;
}

.materials_inform {
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .materials_inform {
    margin-bottom: 30px;
  }
}

.materials_text {
  font-size: 12px;
}

.info_row {
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .info_row {
    margin-bottom: 0px;
  }
}

@media (max-width: 600px) {
  .info_btn.one {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #BFBCBA;
  }
}

@media (max-width: 600px) {
  .info_btn.two {
    position: absolute;
    top: 0px;
    left: 114px;
    color: #BFBCBA;
  }
}

@media (max-width: 600px) {
  .info_btn.three {
    position: absolute;
    top: 0px;
    left: 248px;
    color: #BFBCBA;
  }
}

.info_btn:hover,
.info_btn.active {
  color: #000;
}

.arrow_info {
  position: absolute;
  margin-left: 5px;
}
@media (max-width: 600px) {
  .arrow_info {
    display: none;
  }
}

.info_text.details {
  list-style-type: disc;
}

.info_text.details li {
  margin-top: 3px;
  margin-left: 14px;
}

.info_text.size {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.info_text.size li {
  margin-right: 10px;
}

.info_details {
  line-height: 18px;
}

.info_text {
  line-height: 18px;
}

.arrow_info.show {
  transform: rotate(180deg);
  right: -18px;
}

.info_wrap {
  margin-top: 5px;
  font-size: 12px;
  display: none;
}
@media (max-width: 600px) {
  .info_wrap {
    padding-top: 30px;
  }
}

.info_wrap.show {
  display: block;
}

.addToCart {
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
  color: #EBEBEB;
  background-color: #000000;
  font-size: 14px;
  border: none;
  height: 40px;
}
@media (max-width: 600px) {
  .addToCart {
    position: static;
    margin-bottom: 30px;
  }
}

.related_bottom-block {
  margin: 60px 0px;
}

.related_item-block {
  display: block;
}
@media (max-width: 600px) {
  .related_item-block {
    display: none;
  }
}

.related_tittle {
  margin-bottom: 40px;
  text-align: center;
  font-size: 20px;
}
@media (max-width: 600px) {
  .related_tittle {
    font-size: 16px;
  }
}

.related_list {
  display: flex;
}

.related_list li {
  margin-right: 30px;
  width: 33.333%;
}

.related_list li:last-child {
  margin-right: 0px;
}

.swiper-container {
  display: none;
  overflow: hidden;
}
@media (max-width: 600px) {
  .swiper-container {
    display: block;
  }
}

body,
html {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* Мінімальна висота сторінки */
  display: flex;
  flex-direction: column;
}

.contacts {
  margin-top: 66px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: black;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.contacts_container {
  width: 40vw;
  margin: 40px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 900px) {
  .contacts_container {
    width: 80vw;
    margin: 40px 15px;
  }
}
@media (max-width: 500px) {
  .contacts_container {
    width: 100vw;
  }
}

.contacts_title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 14px;
  color: black;
  font-weight: 400;
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 900px) {
  .contacts_title {
    margin-bottom: 40px;
  }
}

.contacts_text {
  margin-bottom: 70px;
}

.contacts_block {
  display: flex;
  flex-direction: column;
}

.mail_block {
  margin-bottom: 30px;
}

.contact_block-title {
  font-weight: 600;
}

.contact_block-item {
  margin-top: 10px;
}

.faq {
  margin-top: 66px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-top: 66px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: black;
}

.faq_container {
  width: 60vw;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 900px) {
  .faq_container {
    width: 80vw;
    margin: 40px 15px;
  }
}
@media (max-width: 500px) {
  .faq_container {
    width: 100vw;
  }
}

.faq_title {
  font-size: 20px;
  line-height: 14px;
  color: black;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.faq_content {
  width: 100%;
}

.faq_head {
  font-size: 16px;
  line-height: 14px;
  color: black;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 30px;
}

.faq_row {
  position: relative;
  margin: 10px 0px;
  padding-top: 10px;
}

.faq_row::before {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  border-top: 1px solid #000;
  margin-top: -10px;
}

.faq_row.last_row::after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  border-bottom: 1px solid #000;
  margin-top: 10px;
}

.faq_btn {
  font-size: 14px;
  cursor: pointer;
  display: block;
  margin-right: 10px;
}

.faq_wrap {
  font-size: 12px;
  display: none;
}

.faq_wrap.show {
  display: block;
  margin-top: 20px;
}

.faq_text {
  font-size: 12px;
  line-height: 20px;
}

.arrow {
  position: absolute;
  right: 0px;
  top: 10px;
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
}

.arrow.show {
  transform: rotate(180deg);
}

.stockist {
  margin-top: 66px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: black;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.stockist_container {
  width: 40vw;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 900px) {
  .stockist_container {
    width: 80vw;
    margin: 40px 15px;
  }
}
@media (max-width: 500px) {
  .stockist_container {
    width: 100vw;
  }
}

.stockist_title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 14px;
  color: black;
  font-weight: 400;
  margin-bottom: 60px;
  text-align: center;
}
@media (max-width: 900px) {
  .stockist_title {
    margin-bottom: 40px;
  }
}

.shop_name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}

.stockist_shop {
  text-align: center;
}

.delivery {
  margin-top: 66px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  margin-top: 66px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: black;
}

.delivery_container {
  width: 60vw;
  margin: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .delivery_container {
    width: 100vw;
    margin: 40px 15px;
  }
}

.delivery_title {
  font-size: 20px;
  line-height: 14px;
  color: black;
  font-weight: 400;
  margin-bottom: 20px;
  text-align: center;
}

.delivery_content {
  width: 100%;
}

.delivery_head {
  font-size: 16px;
  line-height: 14px;
  color: black;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 30px;
}

.delivery_text {
  font-size: 12px;
  line-height: 20px;
}

.delivery_list {
  list-style-type: disc;
}

.delivery_item {
  margin-left: 20px;
}

.delivery_strong-title {
  font-weight: 600;
}

footer {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 500px) {
  footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: normal;
  }
}

.footer_list {
  display: flex;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
@media (max-width: 900px) {
  .footer_list {
    margin: 40px 15px;
  }
}
@media (max-width: 500px) {
  .footer_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 15px;
    margin-top: 40px;
  }
}

.footer_list li {
  margin-right: 40px;
}
@media (max-width: 500px) {
  .footer_list li {
    margin-bottom: 20px;
  }
}

.footer_item {
  position: relative;
}

.footer_item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  width: 100%;
  background-color: black;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.footer_item:hover::before {
  opacity: 1;
}/*# sourceMappingURL=styles.css.map */